{% extends "base_loggedin.html" %}

{% block head %}
<title>Admin</title>
{% endblock %}

{% block body %}
<h1>Administrador de sistema</h1>
<div class="admin-contenedor">
    <form action="{{ url_for('user_list') }}" method="get" class="userlist-btn">
        <input type="submit" value="Lista de Usuarios" class="btn-primario">
    </form>
    <form action="{{ url_for('lista_materia') }}" method="get" class="lista-materia-btn">
        <input type="submit" value="Lista de Materias" class="btn-primario">
    </form>
    <form action="{{ url_for('ver_alumnos') }}" method="get">
        <input type="submit" value="Lista de Alumnos" class="btn-primario">
    </form>
    <form action="{{ url_for('agregar_alumno') }}" method="get">
        <input type="submit" value="Agregar Alumno" class="btn-primario">
    </form>
    </form>
    <form action="{{ url_for('listar_materias') }}" method="get" class="asignar-alumnos-btn">
        <input type="submit" value="Asignar Alumnos a Materia" class="btn-primario">
    </form>
    <form action="{{ url_for('ver_padres') }}" method="get">
        <input type="submit" value="Ver Padres" class="btn-primario">
    </form>    
</div>
{% endblock %}
