{% extends "base_loggedin.html" %}

{% block head %}
<title>Admin</title>
{% endblock %}

{% block body %}
<h1>Administrador de sistema</h1>
<form action="{{ url_for('user_list') }}" method="get" class="userlist-btn">
    <input type="submit" value="User List">
</form>
<div class="admin-contenedor">
    <h1>Administrador de sistema</h1>
    <form action="{{ url_for('user_list') }}" method="get" class="userlist-btn">
        <input type="submit" value="User List" class="btn-primario">
    </form>
    <form action="{{ url_for('agregar_alumno') }}" method="get">
        <input type="submit" value="Agregar Alumno">
    </form>
    <form action="{{ url_for('ver_alumnos') }}" method="get">
        <input type="submit" value="Ver Lista de Alumnos">
    </form>
    </form>
    <form action="{{ url_for('lista_materia') }}" method="get" class="lista-materia-btn">
        <input type="submit" value="Agregar Materia" class="btn-primario">
    </form>
</div>
{% endblock %}
