{% extends "base_loggedin.html" %}

{% block head %}
<title>Admin</title>
{% endblock %}

{% block body %}
<div class="admin-container">
    <h1>Administrador de sistema</h1>
    <form action="{{ url_for('user_list') }}" method="get" class="userlist-btn">
        <input type="submit" value="User List" class="btn-primary">
    </form>
    </form>
    <form action="{{ url_for('lista_materia') }}" method="get" class="userlist-btn">
        <input type="submit" value="Agregar Materia">
    </form>
</div>
{% endblock %}