{% extends "base_loggedin.html" %}

{% block head %}
<title>Asignar Alumno a {{ padre.username }}</title>
{% endblock %}

{% block body %}
<h1>Asignar Alumno a {{ padre.username }}</h1>
<div class="asignar-alumno-contenedor">
    <a href="{{ url_for('ver_padres') }}" class="btn-primario">Regresar</a>
    <table class="tabla-users">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Grado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for alumno in alumnos %}
            <tr>
                <td>{{ alumno.id }}</td>
                <td>{{ alumno.nombre }}</td>
                <td>{{ alumno.grado }}</td>
                <td>
                    <form action="{{ url_for('guardar_asignacion_alumno', padre_id=padre.id, alumno_id=alumno.id) }}" method="post">
                        <button type="submit" class="btn-primario">Asignar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
