<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head %}{% endblock %}
  </head>
  <body>
    <header>
      <form action="{{ url_for('logout') }}" method="get" class="logout-btn">
        <input type="submit" value="Logout">
      </form>
    </header>
    <main>
      {% block body %}{% endblock %}
    </main>
  </body>
</html>
