{% extends "base_loggedin.html" %}

{% block head %}
<title>Lista de Materias</title>
{% endblock %}

{% block body %}
<h1>Lista de Materias</h1>
<div class="lista-materia-contenedor">
    <a href="{{ url_for('admin')}}" class="btn-primario">Regresar</a>
    <a href="{{ url_for('editar_materia', materiaid=0) }}" class="btn-primario">Agregar Materia</a>
    <ul class="lista-materias">
        {% for materia in materias %}
            <li>
                <a href="{{ url_for('asignar_alumno', materia_id=materia.id) }}">{{ materia.nombre }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
