<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Notas de {{ alumno.nombre }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
    <h1>Notas de {{ alumno.nombre }}</h1>
    
    <div class="lista-notas-contenedor">
        <table class="tabla-notas_y_alumnos">
            <thead>
                <tr>
                    <th>Materia</th>
                    <th>Nota</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>

    <a href="{{ url_for('ver_hijos_padre', id=alumno.id) }}">
        <button class="btn-secundario">Volver</button>
    </a>
</body>
</html>
