{% extends "base_loggedin.html" %}

{% block head %}
<title>Asignar Alumnos a {{ materia.nombre }}</title>
{% endblock %}

{% block body %}
<div class="asignar-alumnos-contenedor" style="text-align: center;">
    <a href="{{ url_for('admin')}}" class="btn-primario">Regresar</a>
    <h2>Asignar Alumnos a {{ materia.nombre }}</h2>
    <form method="POST" class="asignar-alumnos-form" style="display: inline-block; text-align: left;">
        {{ form.hidden_tag() }}
        <div class="asignar-alumnos-campo">
            <label for="alumnos" class="alumnos-label">{{ form.alumnos.label }}</label>
            {{ form.alumnos(class="select-alumnos") }} 
        </div>
        <div class="asignar-alumnos-submit">
            {{ form.submit(class="btn-primario") }}
    </form>
</div>
{% endblock %}
