{% extends "base_loggedin.html" %}

{% block head %}
<title>Asignar Alumnos a {{ materia.nombre }}</title>
{% endblock %}

{% block body %}
<a href="{{ url_for('listar_materias')}}" class="btn-primario">Regresar</a>
<div class="asignar-alumnos-contenedor" style="text-align: center;">
    <h2>Asignar Alumnos a {{ materia.nombre }}</h2>
    <form method="POST" class="asignar-alumnos-form">
        {{ form.hidden_tag() }}
        <div class="asignar-alumnos-campo">
            <label for="alumnos" class="alumnos-label">Alumnos Disponibles</label>
            {{ form.alumnos(class="select-alumnos") }} 
        </div>
        <div class="asignar-alumnos-submit">
            {{ form.submit(class="btn-primario") }}
    </form>
</div>
{% endblock %}
