{% extends "base_loggedin.html" %}

{% block head %}
<title>Lista de Usuarios</title>
{% endblock %}

{% block body %}
<div class="lista-user-contenedor">
    <h2>Usuarios Registrados</h2>
    <a href="{{ url_for('admin')}}" class="btn-primario">Regresar</a>
    <a href="{{ url_for('user_edit', userid=0) }}" class="btn-primario">Agregar Usuario</a>
    <table class="tabla-users">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Tipo</th>
                <th>ID</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {%- for user in data -%}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.tipo }}</td>
                <td>{{ user.id }}</td>
                <td>
                    <a href="{{ url_for('user_edit', userid=user.id) }}" class="btn-secundario">Editar</a>
                </td>
            </tr>
            {%- endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
