{% extends "base_loggedin.html" %}

{% block head %}
<title>Usuarios</title>
{% endblock %}

{% block body %}
<form method="post">

{{ form.hidden_tag() }}
<div>
    <table>
        <tr>
            <td>{{ form.username.label() }}</td>
            <td>{{ form.username() }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label() }}</td>
            <td>{{ form.password() }}</td>
        </tr>
        <tr>
            <td>{{ form.type.label() }}</td>
            <td>{{ form.type() }}</td>
        </tr>
        <tr>
            <td colspan="2">
                {{ form.save() }}
                {{ form.cancel() }}
                {{ form.delete() }}
            </td>
        </tr>
    </table>
</div>
</form>
{% endblock %}