{% extends "base_loggedin.html" %}
{% block head %}
<title>Usuarios</title>
{% endblock %}

{% block body %}
<a href="{{ url_for('user_edit', userid=0) }}">Agregar</a>
<table class="users">
<thead>
    <tr>
        <th>Usuario</th>
        <th>Tipo</th>
    </tr>
</thead>
<tbody>
    {%- for user in data -%}
    <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.tipo }}</td>
        <td><a href="{{ url_for('user_edit', userid=user.id) }}">Editar</a></td>
    </tr>
    {%- endfor %}
</table>
{% endblock %}