body {
    background: linear-gradient(135deg, #d0ebf7, #66a3d2);
    margin: 0;
    font-family: sans-serif;
    color: #333;
}

h1,
h2 {
    text-align: center;
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 24px;
}

.home-contenedor,
.user-edit-contenedor,
.lista-user-contenedor,
.admin-contenedor,
.materia-edit-contenedor,
.lista-materia-contenedor,
.lista-alumnos-contenedor,
.lista-padres-contenedor,
.asignar-alumno-contenedor,
.lista-notas-y-alumnos-contenedor,
.lista-notas-contenedor {
    margin: 0px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    text-align: center;
}

.login-contenedor {
    margin: 60px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    text-align: center;
}

/* Botones */
.btn-primario,
.btn-secundario {
    margin: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primario {
    background-color: #3498db;
    color: white;
}

.btn-login {
    width: 96.5%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.btn-primario:hover {
    background-color: #2980b9;
}

.btn-secundario {
    background-color: #95a5a6;
    color: white;
}

.btn-secundario:hover {
    background-color: #7f8c8d;
}

/* Formularios */
.login-form label {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
    display: block;
    text-align: left;
}

.login-campo input[type="text"],
.login-campo input[type="password"] {
    width: 95%;
    padding: 12px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.login-campo input[type="text"]:focus,
.login-campo input[type="password"]:focus {
    border-color: #3498db;
    outline: none;
}

.tabla-form {
    width: 100%;
    border-collapse: collapse;
}

.tabla-form td {
    padding: 10px;
}

/* Tablas */
.tabla-users,
.tabla-materias,
.tabla-alumnos {
    width: 95%;
    border-collapse: collapse;
    margin: 20px 20px;
    background-color: #ffffff;
    border-radius: 8px;
}

.tabla-notas-y-alumnos {
    width: 94%;
    border-collapse: collapse;
    margin: 20px 20px;
    background-color: #ffffff;
    border-radius: 8px;
}

.tabla-users th,
.tabla-users td,
.tabla-materias th,
.tabla-materias td,
.tabla-notas-y-alumnos th,
.tabla-notas-y-alumnos td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.tabla-users th,
.tabla-materias th,
.tabla-notas-y-alumnos th {
    background-color: #3498db;
    color: white;
}

.tabla-users tr:hover,
.tabla-materias tr:hover,
.tabla-notas_y_alumnos tr:hover {
    background-color: #f5f5f5;
}

/* Mensajes de error */
.flash-messages {
    margin-top: 15px;
    text-align: left;
}

.flash {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.flash.success {
    background-color: #2ecc71;
    color: white;
}

.flash.error {
    background-color: #e74c3c;
    color: white;
}

.select-alumnos {
    width: 300px;
    height: 150px;
    border: 2px solid #007BFF;
    border-radius: 5px;
    padding: 10px;
    background-color: #f8f9fa;
    color: #333;
    font-size: 16px;
    transition: border-color 0.3s;
}

.select-alumnos:hover {
    border-color: #0056b3;
}

.alumnos-label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #007BFF;
    text-align: center;
}

.asignar-alumnos-submit {
    text-align: center;
    margin-top: 10px;
}

.btn-primario,
.btn-secundario {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-primario:hover,
.btn-secundario:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}